<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.x.space.mapper.CategoryMapper">

    <select id="findAll" resultType="com.x.space.entity.Category">
        select * from category
    </select>
</mapper>